:root{
    --c1:#bdbcbc;
    --c2:#ffffff;
    --c3:#ffc00e;
    --c4:#212529;
    --c5:#e2e8f0;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    all: unset;
}

button{
    all: unset;
}

.container{
    width: 100vw;
    height: 100vh;
}

.bg1{
    background-color: var(--c1);
}

.bg2{
    background-color: var(--c2);
}

.bg3{
    background-color: var(--c3);
}

.bg4{
    background-color: var(--c4);
}

.bg5{
    background-color: var(--c5);
}

.fullcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1{
    color: var(--c1);
}

.c2{
    color: var(--c2);
}

.c3{
    color: var(--c3);
}

.c4{
    color: var(--c4);
}

.c5{
    color: var(--c5);
}

.button1{
    cursor: pointer;
    background-color: var(--c3);
    text-align: center;
    width: 60%;
    font-size: 100%;
    padding: 3%;
    margin: 5%;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 1em;
}
