.imagem2 {
    width: 100%;
    height: auto; 
  }
  
  .evento-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #e2e8f0;
    border-radius: 10px;
    text-align: left;
  }
  
  .evento-info h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .evento-info p {
    margin: 10px 0;
    font-size: 1rem;
  }

  .signevent_button {
    background-color: #FFD700;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: bold;
    color: white;
    border: 2px solid #FFC400;
    margin: 0.5rem;
    width: 300px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.signevent_button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

