body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../assets/tilesetyellow.png);
}

#menu-acordeon,
#menu-acordeon ul {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

#menu-acordeon li {
    position: relative;
}

.navbar {
  background-color: #1f2937;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.logo img {
  width: 300px;
}

.hidden {
  display: none;
}

.nav-links {
  width: 30%;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu-overlay {
  color: #fcd34d ;
  cursor: pointer;
}

#galeria {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto; /* Centralizar o contêiner */
  flex-direction: column;
  align-items: center;
  font-size: 2xl;
  font-weight: bold;
}

.imagem{
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%; 
  align-self: center;

}

#botoes {
  text-align: center;
  margin-top: 20px;
}

.sair-overlay{
  color:red;
}


.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.nav-login {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-login dt {
  margin-right: 1rem;
}

.nav-login a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.profile {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #6b7280;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botoes {
  text-align: center;
  margin-top: 20px;
}
#anterior,
#proximo {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 1.2em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#anterior:hover,
#proximo:hover {
    background-color: #a15600;
}

#saiba_mais{
  display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#saiba_mais:hover {
  background-color: #0056b3;
}

.navbar a{
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a:hover{
  color: #fcd34d;
  transition: 0.3s;
}

.item{
  background-color: #fcd34d;
  border-radius: 15px;
  color: #1f2937;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.item p{
  font-size: 1.3em;
}

#mensagem{
  font-size: 1.5em;
  color: #a15600;
}

#root{
  height: 100vh;
  
}

#data{
  padding: 10px;
  text-align: left;
  width: 80%;
  color: #e27b05;
  font-size: 1.1em;
}

.btn-c{
  background-color: #e27b05;
}

#carrossel{
  display: flex;
  justify-content: center;
  align-items: center;
}

#carrossel button{
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;  height: 20%;
}

.content-c{
  
  display: flex;
  flex-direction: column;
}

#date{
  color: #a15600;
}

.bs-1{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}