
*{
    font-family: Helvetica, sans-serif;
}

.credt{
    
    font-weight: 500; 
    color: #6b7280;
}

#tp_usu{
    font-size: medium;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/tilesetyellow.png);
}

label{
    margin-bottom: 1em;
}
.items-center {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.h-screen {
    height: 100vh;
}

.bg-amber-300 {
    background-color: #fcd34d;
}

.login {
    background-color: #e2e8f0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.p-4 {
    padding: 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-red-500 {
    color: #ff0000;
}

.block {
    display: block;
}

.text-sm {
    font-size: 0.875rem;
}

.font-medium {
    font-weight: 500;
}

.text-slate-700 {
    color: white;
}

.peer {
    display: flex;
}

.p-1 {
    padding: 0.25rem;
}

.block input { 
    all: unset;
    cursor: text;
    background-color: #e2e8f0;
    border-bottom: #6b7280 solid 3px;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    color: black;
}

.block input:focus{
    border-bottom: #FFC400 solid 3px;
}

.login_button {
    background-color: #FFD700;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    border: 2px solid #FFC400;
    margin: 0.5rem;
    width: 100%;
    transition: box-shadow 0.3s, transform 0.3s;
}

.login_button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.inscri_button {
    all: unset;
    cursor: pointer;
    color: #FFC400;
}

#false_account {
    display: block; 
    font-size: 1.125rem; 
    font-weight: 500; 
    color: #6b7280;
    margin: 0.25rem;
  }